---

---

<section>
  <h2>Sobre nosotros</h2>
  <p>
    En <strong>AGORA TECNICOS</strong>, ofrecemos una gestión inmobiliaria
    integral, abarcando desde la viabilidad y promoción de proyectos hasta su
    ejecución y entrega.
  </p>
  <p>
    Nuestro equipo de <strong>arquitectos e ingenieros especializados</strong> proporciona
    dirección de proyectos, asesoramiento técnico, servicios periciales y
    gestión con empresas constructoras, garantizando un <strong>riguroso control</strong> de
    costes y plazos.
  </p>
  <p>
    Con más de <strong>25 años de experiencia</strong>, trabajamos con particulares, empresas y
    administraciones para desarrollar <strong>soluciones eficientes y personalizadas</strong>.
  </p>
  <p>
    Confía en nuestra experiencia para <strong>hacer realidad tu proyecto</strong>.
  </p>
  <a class="button" onclick="window.location.href='#'">Saber más</a>
</section>

<style>

    a.button {
        display: flex;
        justify-content: center;
    }

</style>
