---

---

<footer>
  <p>Web desarrollada por TomasRM01</p>
  <p>Contáctanos: agoratecnicos@agoratecnicos.com</p>
</footer>

<style>
  footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    padding: 1%;
  }

  footer p {
    font-size: .6em;
    color: #e4e4e4;
    margin: 10px;
  }
  
</style>
