---

---

<footer>
  <a href="https://github.com/TomasRM01/AgoraWeb" class="button" target="_blank" rel="noopener noreferrer">Código fuente</a>
  <p>agoratecnicos@agoratecnicos.com</p>
  <p>Av. Lola Flores, Residencial la Sierra, Bloque B1, Bajo A</p>
  <p>Jerez de la Frontera, Cádiz</p>
</footer>

<style>
  footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 10px 30px 10px;

    gap: 10px;
  }

  footer a {
    font-size: .8em;
    color: #e4e4e4;
    margin: 0;
  }

  footer p {
    font-size: .8em;
    color: #e4e4e4;
    margin: 0 10px 0 10px;
  }

  footer a {
    border: none;
    box-shadow: none;
    padding: 3px;
    min-width: fit-content;
    font-size: .8em;
    justify-self: center;
    text-transform: none;
    letter-spacing: inherit;
  }
  
</style>
