---
---

<section>
    <h1 class="section-heading">Agora Tecnicos</h1>
    <h2 class="section-subtitle">Estudio de arquitectura</h2>
</section>

<style>

    section {
        margin-top: 0;
        margin-bottom: 0;
    }

    .section-heading {
        padding: 0;
        margin-bottom: 0;
        color: #e4e4e4;
        font-weight: bolder;
        text-transform: uppercase;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: #c92020;
        font-size: 8vw;
    }

    .section-subtitle {
        padding: 0;
        margin: 0;
        color: #e4e4e4;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        font-size: 4vw;
    }
    
</style>