---
import { Image } from 'astro:assets';
import heroDark from '/public/img/agoraB.webp';
import heroLight from '/public/img/modernC.webp';

import CopyMailButton from "./CopyMailButton.astro";

---

<div class="section-wrapper">
  <div class="section dark-section">
    <div class="section-container">
      <div class="section-inner">
        <div class="section-text">
          <h1 class="section-heading">Agora Tecnicos</h1>
          <h2 class="section-subtitle">Estudio de arquitectura</h2>
        </div>
        <div class="section-image">
          <Image src={heroDark} loading="eager" alt="Ruinas de un templo antiguo con columnas clásicas bajo un cielo oscuro" />
        </div>
        <div class="section-button">
          <a
          href="mailto:agoratecnicos@agoratecnicos.com?Subject=Quiero%20trabajar%20con%20vosotros"
          class="button"
          target="_blank"
          rel="noopener noreferrer">Contactar</a
          >
          <CopyMailButton />
        </div>
      </div>
    </div>
  </div>
  <div class="section light-section">
    <div class="section-container">
      <div class="section-inner">
        <div class="section-text">
          <h1 class="section-heading">Agora Tecnicos</h1>
          <h2 class="section-subtitle">Estudio de arquitectura</h2>
        </div>
        <div class="section-image">
          <Image src={heroLight} loading="eager" alt="Moderno rascacielos de vidrio reflejando el cielo azul." />
        </div>
        <div class="section-button">
          <a
          href="mailto:agoratecnicos@agoratecnicos.com?Subject=Quiero%20trabajar%20con%20vosotros"
          class="button"
          target="_blank"
          rel="noopener noreferrer">Contactar</a
          >
          <CopyMailButton />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fix"></div>

<style>
  /* General Reset */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Section wrapper with counter reset */
  .section-wrapper {
    position: relative;
    height: 100%;
  }

  /* Base styles for sections */
  .section {
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  /* Light Section Styles */
  .light-section {
    background-color: #e4e4e4;
    color: #202125;
  }

  /* Dark Section Styles */
  .dark-section {
    background-color: #202125;
    color: #e4e4e4;
  }

  /* Section heading styling */
  .section-heading {
    font-size: min(5rem, 9vw);
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #c92020;
  }

  .section-subtitle {
    font-size: min(2.5rem, 4.5vw);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  /* Section image styling */
  .section-image {
    width: 40vmin;
    min-width: 15rem;
    max-width: 40vh;
  }

  /* Image inside section image */
  .section-image img {
    max-width: 100%;
    height: auto;  /* Ensure the image maintains its aspect ratio */
  }


  /* Flex section-container for content alignment within sections */
  .section-container {
    height: 100%;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-clip-path: inset(0px 0px 0px 0px);
    clip-path: inset(0px 0px 0px 0px);
  }

  .section-inner {
    position: fixed;
    inset: 0%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .light-section .section-text .section-subtitle {
    color: #202125;
  }

  .dark-section .section-text .section-subtitle {
    color: #e4e4e4;
  }

  .section-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  @media (min-width: 768px) {
    .section-inner {
      display: grid;
      grid-template-columns: auto 4rem auto;
      grid-template-areas:
        ". . image"
        "text . image"
        "button . image"
        ". . image";
      align-items: center;
      justify-content: center;
      justify-items: center;
    }

    .section-text {
      grid-area: text;
    }

    .section-text .section-heading {
      font-size: 4.5vw;
    }

    .section-text .section-subtitle {
      font-size: 2.25vw;
    }

    .section-image {
      grid-area: image;
    }

    .section-button {
      grid-area: button;
    }
  }

  /* This prevents the content to hide behind the hero section */
  .fix {
    height: 100%;
  }
</style>
