---

---

<section>
  <h2>Nuestro estudio</h2>
  <div class="map-container">
    <iframe
      class="map-iframe"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3199.347212725764!2d-6.112529721199484!3d36.69019352416287!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0dc7e035517e5b%3A0x3ecbf5013a9463fc!2sAGORA%20TECNICOS%20Estudio%20de%20Arquitectura!5e0!3m2!1ses!2ses!4v1739270752647!5m2!1ses!2ses"
    >
    </iframe>
  </div>
</section>

<style>

  .map-container {
    height: 300px;
    text-align: center;
    margin: 20px auto; /* Centering the container */
    border: 2px solid #c92020;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  .map-iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 6px;
  }

  footer {
    text-align: center;
    margin: 20px 0;
  }

  footer p {
    font-size: 0.5em;
    color: #e4e4e4;
    padding: 1%;
  }
</style>
