---

---

<section>
  <h2>Servicios</h2>
  <ul>
    <li>
      <a href="/gallery#proyectos">
        <h3>Proyectos arquitectónicos</h3>
        <p>Diseño y planificación.</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path
            d="M120-120v-560h160v-160h400v320h160v400H520v-160h-80v160H120Zm80-80h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 320h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 480h80v-80h-80v80Zm0-160h80v-80h-80v80Z"
          ></path>
        </svg>
      </a>
    </li>
    <li>
      <a href="/gallery#promociones">
        <h3>Promociones de viviendas</h3>
        <p>Gestión de construcción.</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path
            d="M80-160v-400l240-240 240 240v400H80Zm80-80h120v-120h80v120h120v-287L320-687 160-527v287Zm120-200v-80h80v80h-80Zm360 280v-433L433-800h113l174 174v466h-80Zm160 0v-499L659-800h113l108 108v532h-80Zm-640-80h320-320Z"
          ></path>
        </svg>
      </a>
    </li>
    <li>
      <a href="/gallery#infografias">
        <h3>Infografías</h3>
        <p>Representaciones visuales.</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path
            d="M80-200v-360l160-160h40v-80h80v80h360l160 160v360H80Zm560-80h160v-247l-80-80-80 80v247Zm-480 0h400v-200H160v200Z"
          ></path>
        </svg>
      </a>
    </li>
    <li>
      <a href="/gallery#rehabilitaciones">
        <h3>Rehabilitaciones</h3>
        <p>Restauración y mejoras.</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path
            d="M200-120v-160h-80v-80h80v-166L88-440l-48-64 440-336 440 336-48 64-112-86v166h80v80h-80v160h-80v-160H520v160h-80v-160H280v160h-80Zm80-240h160v-349L280-587v227Zm240 0h160v-227L520-709v349Z"
          ></path>
        </svg>
      </a>
    </li>
    <li>
      <a href="/gallery#ascensores">
        <h3>Implantación de ascensores</h3>
        <p>Adaptación y accesibilidad.</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path
        d="M280-240h120v-160h40v-100q0-33-23.5-56.5T360-580h-40q-33 0-56.5 23.5T240-500v100h40v160Zm60-380q21 0 35.5-14.5T390-670q0-21-14.5-35.5T340-720q-21 0-35.5 14.5T290-670q0 21 14.5 35.5T340-620Zm180 100h200L620-680 520-520Zm100 240 100-160H520l100 160ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0 0v-560 560Z"
          ></path>
        </svg>
      </a>
    </li>
    <li>
      <a href="/about#certificados">
        <h3>Certificados eficiencia energética</h3>
        <p>Evaluación y optimización.</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"
          ><path
            d="M480-240q100 0 169-70t71-170v-240H480q-100 2-170 71t-70 169q0 100 70 170t170 70Zm-47-67 184-164q9-8 5-19t-16-13l-144-14 86-119q3-5 3.5-9.5T548-654q-4-5-10-4.5t-11 4.5L344-490q-9 8-5 19t16 13l144 14-87 119q-3 5-3 9.5t4 8.5q4 4 9.5 4t10.5-4Zm47 147q-56 0-105.5-17.5T284-227l-55 55q-6 6-13.5 9t-15.5 3q-17 0-28.5-11.5T160-200q0-8 3-15.5t9-13.5l55-55q-32-41-49.5-90.5T160-480q0-134 93-227t227-93h320v320q0 134-93 227t-227 93Zm0-320Z"
          ></path>
        </svg>
      </a>
    </li>
  </ul>
</section>

<style>
  svg {
    grid-area: icon;
    width: 90px;
    height: auto;
    fill: #e4e4e4;
    justify-self: right;
    align-self: center;
    
    padding-right: 20px;
    @media (max-width: 768px) {
      padding-right: 0;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    gap: 20px;
    
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
  }

  li {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    color: #e4e4e4;
    line-height: 1.6;
  }



  a {
    text-decoration: none;
    color: inherit;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 10px auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "title title icon"
      "subtitle . icon";

    @media (max-width: 768px) {
      grid-template-areas:
        "title title title"
        "subtitle . icon";
    }
  }
</style>
